<nav class="navbar navbar-toggleable-md navbar-light py-4 bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">mover.</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-md-auto">
      <%if (!user_signed_in?) %>
        <li><%= link_to "Log In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <%else%>
        <a class="nav-link" href="#">Mover</a>
        <a class="nav-link" href="#">Moving</a>
        <a class="nav-link" href="#">search location</a>



        <div class="dropdown">
           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <%= image_tag avatar_url(current_user), class: "rounded-circle avatar_small" %>&nbsp;
             <%= current_user.fullname%>
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

             <li class="nav-item"><%= link_to "Edit Profile", edit_user_registration_path%></li>
             <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>

           </div>
  </div>
      <%end%>



    </ul>
  </div>
</nav>
